[submodule "pyclaw"]
	path = pyclaw
	url = git://github.com/ahmadia/pyclaw
[submodule "visclaw"]
	path = visclaw
	url = git://github.com/ahmadia/visclaw
[submodule "clawutil"]
	path = clawutil
	url = git://github.com/ahmadia/clawutil
[submodule "riemann"]
	path = riemann
	url = git://github.com/ahmadia/riemann
