# ignore symlinked in-place builds

clawpack/clawutil
clawpack/petclaw
clawpack/pyclaw
clawpack/riemann
clawpack/visclaw
clawpack/amrclaw
clawpack/geoclaw
clawpack/classic
clawpack/version.py

# ignore build directory
build

# ignore silly .pyc, log, and egg files
*.pyc
*.log
*.egg-info
