[submodule "pyclaw"]
	path = pyclaw
	url = ../pyclaw
[submodule "visclaw"]
	path = visclaw
	url = ../visclaw
[submodule "clawutil"]
	path = clawutil
	url = ../clawutil
[submodule "riemann"]
	path = riemann
	url = ../riemann
[submodule "amrclaw"]
	path = amrclaw
	url = ../amrclaw
[submodule "geoclaw"]
	path = geoclaw
	url = ../geoclaw
[submodule "classic"]
	path = classic
	url = ../classic
