*.pyc
*.o
*.mod
*.data
.output
.data
.plots
xclaw
xamr
xgeoclaw
xgeoclaw.dSYM
*.html
_output/
_plots/
*~
*.asc
*.tt3
*.tt1
*.xyz
scratch/*
!scratch/README.txt

# log files
*.log

# py3k cache directories
__pycache__

# ipython
.ipynb_checkpoints