language: python
python:
  - 2.7
  - 3.5
env:
  - BUILD_TYPE="Release"
  
before_install:
  - sudo apt-get update
  - sudo apt-get install gfortran liblapack-dev
  # Print NumPy version that is already installed by Travis CI:
  - python -c "import numpy; print(numpy.__version__)"
  # - pip install matplotlib
  # - python -c "import matplotlib; print(matplotlib.__version__)"
  - git clone --branch=master --depth=100 --quiet git://github.com/clawpack/clawpack
  - cd clawpack
  - python setup.py symlink-only
  - rm -rf geoclaw
  - ln -s ../ geoclaw
  
install:
  - export PYTHONPATH=${PWD}:$PYTHONPATH
  - export CLAW=${PWD}
  - export FC=gfortran
  - cd geoclaw
  
before_script:
  # Print CPU info for debugging purposes:
  - cat /proc/cpuinfo
  - gfortran -v
  - /usr/bin/f95 -v
  - echo "PYTHONPATH="$PYTHONPATH
  - echo "CLAW="$CLAW
  - echo "FC="$FC
  
script:
  - cd $CLAW/geoclaw
  - nosetests -sv

after_failure:
 - for failed_test_path in *_output ; do cat $failed_test_path/run_output.txt ; cat $failed_test_path/error_output.txt ; done
  
notifications:
  email: false
