#
# For now, we do not specify version numbers of packages.  This can be changed
# in the future if it becomes an issue.  A more robust workflow might be to use
# an additional 'requirements-to-freeze.txt' file along with `pip freeze` to
# generate 'requirements.txt' with pinned version numbers, as follows.
#
#   $ pip install -r requirements-to-freeze.txt --upgrade
#   $ pip freeze > requirements.txt
#

mockfs
requests
requests-mock
